<div class="search-results">
</div>

<div class="js-song-queued notification">
  <p>Song has been queued.</p>
</div>

<div class="playlist">
  <h1>Now Playing</h1>
  <div class="media-item">
    <img class="img" width="50" height="50">
    <div class="content">
      <span class="song-name">{Song Name}</span> by
      <span class="band-name">{Band Name}</span> on
      <span class="album-name">{Album Name}</span>
    </div>
  </div>

  <h1>Up Next</h1>
  <div class="media-item">
    <img class="img" width="50" height="50">
    <div class="content">
      <span class="song-name">{Song Name}</span> by
      <span class="band-name">{Band Name}</span> on
      <span class="album-name">{Album Name}</span>
    </div>
  </div>
</div>
