<div class="app-search-results">
  <ul>
    <li class="search-result"><span class="song-name">{Song Name}</span> by
      <span class="band-name">{Band Name}</span> on
      <span class="album-name">{Album Name}</span></li>
  </ul>
</div>