<ul>
  <% @results.each do |item| %>
    <li class="search-result">
      <span class="song-name"><%= item.title %></span>
      <span class="band-name"><%= item.artists.first %></span> - 
      <span class="album-name"><%= item.album %></span>
    </li>
  <% end %>
</ul>
