/* ==========================================================================
   Element Defaults
   ========================================================================== */

* {
  @include box-sizing(border-box);
}

html,
button,
input,
select,
textarea {
  color: #333;
}

body {
  background: #f8f8f5;
  font-size: 1em;
  line-height: 1.4;
}

img {
  vertical-align: middle; /* Remove gap between images and the bottom of their containers: h5bp.com/i/440 */
}

/* ==========================================================================
   Application Styles
   ========================================================================== */

.app-wrapper {
  padding-top: 4em; /* match app-header height to account for fixed position */
}

.app-header {
  background-color: #42474a;
  color: #99a;
  display: table; /* so we can vertically center the search input */
  height: 4em; /* update app-wrapper top padding since header is fixed */
  left: 0;
  padding: 0 1em;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100; /* so notification transition it slides from underneath */

  .search-form {
    display: table-cell;
    vertical-align: middle;

    input[type="text"] {
      border: none;
      border-radius: 3px;
      @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1));
      display: inline-block;
      padding: 6px;
    }
  }
}

.search-field {
  padding: 4px;
  width: 100%;
}

.search-results {
  .search-result {
    border-bottom: 1px solid #d9d9d9;
    padding: 0.6em 1em;
    position: relative;

    &.queued:after {
      background-color: #d6d9dB;
      color: #555;
      content: "Queued";
      display: inline-block;
      font-size: 0.8em;
      padding: 2px 4px;
      position: absolute;
      right: 1em;
      top: 0.6em;
    }
  }
}

.app-main-content {
  border: 1px solid #CCB;
  position: relative;
}

.notification {
  background-color: #C8C3B7;
  @include box-shadow(0 4px 2px -2px rgba(0, 0, 0, 0.2));
  left: 0;
  min-height: 3em;
  opacity: 0;
  padding: 0 1em;
  position: fixed;
  right: 0;
  top: 0; /* remains hidden since app-header is also position fixed */
  @include transition(top 0.2s ease, opacity 0.2s ease, z-index 0.2s ease);
  z-index: -5;

  &.show {
    opacity: 1;
    top: 4em;
    z-index: 10;
  }
}

h1 {
  font-size: 1.2em;
}

.song-name {
  color: #333;
  display: block;
  font-weight: 500;
}

.band-album-name {
  color: #777;
  font-size: 0.8em;
}

.playlist {
  padding: 1em;
  
  .media-item {
    margin-bottom: 1em;
  }
}

/* MediaItem
-----------------------------------*/
.media-item {
  overflow: hidden;

  .img {
    float: left;
    margin: 0 10px 0 0;

    img {
      display: block;
    }
  }

  .content {
    overflow: hidden;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Media Queries for Responsive Design.
   Theses override the primary ('mobile first') styles.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  .app-wrapper {
    margin: 0 auto;
    width: 600px;
  }

  .app-header, .notification {
    left: auto;
    right: auto;
    width: 600px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
  /* Style adjustments for high resolution devices */
}
